Bio==1.8.1
biopython==1.84
Flask==3.1.2
Flask_Cors==5.0.0
Flask_SocketIO==5.4.1
prisma==0.15.0
pydantic==2.12.5
redis==5.0.8
rq==2.6.1
Werkzeug==3.1.4
gunicorn==23.0.0
supervisor==4.2.5
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-cov==7.0.0
pytest-mock==3.15.1
fakeredis==2.32.1