# ADMIN-PANEL VARIABLES
COOKIE_SECRET=secret
ADMIN_PANEL_PORT=4001
DATABASE_URL=postgresql://admin:admin@localhost:5432/gentrain_db
DATABASE_DRIVER=postgresql
DATABASE_NAME=gentrain_db
DATABASE_HOST=gentrain-db
DATABASE_HOST_LOCAL=localhost # needed if you want to connect to db from admin panel because docker container is exposed to localhost
DATABASE_PORT=5432
DATABASE_USER=admin
DATABASE_PASSWORD=admin
SESSION_SECRET=secret
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=SecretPassword123!
API_DATA_DIRECTORY="../data"

# API VARIABLES
APP_ENV=development
REDIS_HOST=gentrain-redis
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=secret
PYTHONUNBUFFERED=1
REACT_DEV_PORT=3000
REACT_BUILD_PORT=4173

# FRONTEND VARIABLES
VITE_API_HOST=http://localhost:4000

