APP_ENV=development
APP_URL=http://localhost:3000

# BACKEND VARIABLES
DATABASE_DRIVER=postgresql
DATABASE_NAME=gentrain_db
DATABASE_HOST=gentrain-db
DATABASE_PORT=5432
DATABASE_USER=admin
DATABASE_PASSWORD=admin
REDIS_HOST=gentrain-redis
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=secret
PYTHONUNBUFFERED=1
SECRET_KEY=secret
ADMIN_EMAIL=admin@gentrain.com
ADMIN_PASSWORD=admin
REACT_DEV_PORT=3000
REACT_BUILD_PORT=4173

# FRONTEND VARIABLES
VITE_API_HOST=http://localhost:4000
