# GitHub Actions Variables (vars)
SSH_HOST=your_server_ip_or_hostname
SSH_USER=your_ssh_username
GENTRAIN_DIR=/path/to/your/project/directory
PRODUCTION_BRANCH=prod
HTBASIC_USERNAME=your_basic_auth_username
API_HOST=https://api.yourdomain.com
ENABLE_WEBSOCKETS=true
FLASK_ENV=production
FLASK_PYDANTIC_VALIDATION_ERROR_STATUS_CODE=422
REDIS_URL=redis://redis:6379/0
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK

# GitHub Actions Secrets (secrets)
SSH_PRIVATE_KEY=-----BEGIN OPENSSH PRIVATE KEY-----\nYour_SSH_Private_Key_Here\n-----END OPENSSH PRIVATE KEY-----
HTBASIC_PASSWORD=your_basic_auth_password
RQ_SECRET=your_rq_secret_key
GENTRAIN_PASSWORD=your_sudo_password