APP_ENV=development

# BACKEND VARIABLES
DATABASE_DRIVER=postgresql
DATABASE_NAME=gentrain_db
DATABASE_HOST=gentrain-db
DATABASE_PORT=5432
DATABASE_USER=admin
DATABASE_PASSWORD=admin
REDIS_HOST=gentrain-redis
REDIS_PORT=6379
PYTHONUNBUFFERED=1
SECRET_KEY=secret
ADMIN_EMAIL=admin@gentrain.com
ADMIN_PASSWORD=admin
REACT_DEV_PORT=3000
REACT_BUILD_PORT=4173

# FRONTEND VARIABLES
VITE_API_HOST=http://localhost:4000
VITE_ENABLE_WEBSOCKETS=true
VITE_API_BASIC_USERNAME=
VITE_API_BASIC_PASSWORD=
