deploy.sh
caddy
.env*
!.env.example
!.env.test
Caddyfile
.vscode
.idea
.idea/*
backend/redis/redis.prod.conf
**/.DS_Store
certs/
certs/*
db_dumps/*
backend/data/pathogen_schemes/*
!backend/data/pathogen_schemes/.gitkeep
backend/data/pathogen_example_data/*
!backend/data/pathogen_example_data/.gitkeep
