# Backend API (FLASK)
api.gentrain.bi.denbi.de {
  # Reverse proxy to the backend docker container
  reverse_proxy backend:8080

  # Log
  log {
    output stdout
  }
}

# Frontend app (React)
gentrain.bi.denbi.de {
  root * /srv
  try_files {path} /index.html
  file_server
  log {
    output stdout
  }
}