{% extends 'admin/model/edit.html' %}
{% import 'admin/lib.html' as lib with context %}

{% block edit_form %}
    {% call lib.form_tag(action=action) %}
        {{ lib.render_form_fields(form, form_opts=form_opts) }}
        <div class="d-flex justify-content-end form-group mt-5">
            <a href="{{ return_url }}" class="btn btn-danger" role="button">{{ _gettext('Cancel') }}</a>
            <input type="submit" class="btn btn-primary ml-2" value="{{ _gettext('Save') }}"/>
        </div>
    {% endcall %}
{% endblock %}

{% block tail %}
    {{ super() }}
{% endblock %}