node_modules
# Keep environment variables out of version control
.env

.idea
.idea/*

# Ignore build output
dist

.adminjs
.adminjs/*
public/pathogen_example_data/*
!public/pathogen_example_data/.gitkeep
prisma/*
!prisma/schema.prisma
!prisma/seed.js
!prisma/migrations/*