:root,
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #f87315;
  --md-accent-fg-color: #f87315;
  --md-accent-fg-color--transparent: #ffffff;
  --md-text-font: "Merriweather";
  --md-default-fg-color--lightest: transparent;
}

[data-md-color-scheme="slate"] {
  --md-accent-fg-color--transparent: #252525;
}

[dir="ltr"] .md-header__title {
  margin-left: 0;
  font-size: 1rem;
}

.md-nav__title {
  font-weight: 300;
}

.md-nav--secondary {
  font-weight: 200;
}

p,
li,
td {
  font-weight: 200;
}

.flex-charts {
  display: flex;
  justify-content: space-around;
}

.flex-charts > div {
  padding: 10px;
  width: 50%;
}

@media (max-width: 800px) {
  .flex-charts {
    flex-direction: column;
  }
  .flex-charts > div {
    width: 100%;
  }
}

.title {
  width: 100%;
  font-weight: bold;
  text-align: left;
  font-size: 0.5rem;
}

.description {
  width: 100%;
  text-align: left;
  font-size: 0.5rem;
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../font/Merriweather_Sans/MerriweatherSans-Light.ttf")
    format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/Merriweather_Sans/MerriweatherSans-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../font/Merriweather_Sans/MerriweatherSans-Light.ttf")
    format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../font/Merriweather_Sans/MerriweatherSans-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../font/Merriweather_Sans/MerriweatherSans-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../font/Merriweather_Sans/MerriweatherSans-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../font/Merriweather_Sans/MerriweatherSans-ExtraBold.ttf")
    format("truetype");
}
