{% extends "base.html" %}


{% block main %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
<h3 class="h3">Contact us</h3>
<div class="btn-toolbar mb-2 mb-md-0">
</div>
</div>

<h6>

<p><i class="fa fa-home mr-3"></i>
Dashboard team </p>
<p class="tab">Center of Medical Microbiology, Virology, and Hospital Hygiene</p>
<p class="tab">University of Duesseldorf</p>
<p class="tab">AG Dilthey</p>
<p class="tab">Universitätsstr. 1</p>
<p class="tab">40225 Düsseldorf </p>
<br>
<p>Project coordination:</p>
<p><i class="fa fa-envelope mr-3"></i> <a href="mailto:dilthey@hhu.de">dilthey@hhu.de</a> </p>

<p>Site development: </p>
  <p><i class="fa fa-envelope mr-3"></i> <a href="mailto:jonas.weber@hhu.de">jonas.weber@hhu.de</a> </p>
  <p><i class="fa fa-envelope mr-3"></i> <a href="mailto:torsten.houwaart@hhu.de">torsten.houwaart@hhu.de</a> </p>
  <p><i class="fa fa-envelope mr-3"></i> <a href="mailto:johannes.ptok@hhu.de">johannes.ptok@hhu.de</a> </p>
</h6>

<p>Source Code: </p>
  <p><i class="fa fa-envelope mr-3"></i> <a href="https://github.com/DiltheyLab/num-dashboard-Releases">Releases on Github</a> </p>
</h6>

{% endblock %}
