bind 0.0.0.0
requirepass "secret"
protected-mode yes
# rename commands to disable them
rename-command CONFIG ""
rename-command BGREWRITEAOF ""
rename-command BGSAVE ""
rename-command SAVE ""
rename-command SPOP ""
rename-command SREM ""
rename-command RENAME ""
rename-command DEBUG ""
rename-command FLUSHDB ""
rename-command FLUSHALL ""
rename-command PEXPIRE ""
rename-command SHUTDOWN ""
# TLS
port 0
tls-port 6379
tls-cert-file /usr/local/etc/redis/tls/redis.crt
tls-key-file /usr/local/etc/redis/tls/redis.key
tls-ca-cert-file /usr/local/etc/redis/tls/ca.crt
tls-auth-clients no