.capturing-pdf {
    background: #ffffff;
}
.capturing-pdf .pdf-hide {
    display: none !important;
}
.capturing-pdf .force-graph-container canvas {
    background: #ffffff !important;
    border: none !important;
}
